mat-dialog-title {
  text-align: center;
  width: 100%;
  margin-bottom: 1rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem;
}

.mat-form-field {
  width: 320px;
}

